<?xml version='1.0' encoding='utf-8'?>
<widget id="name.raphaelblaes.mathsquare" build="4" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MathSquare</name>
    <description>
A simple Game.
    </description>
    <content src="index.html" />
    <access origin="*" />
<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />


</widget>
